.header {
  position: sticky;
  color: white;
  margin-top: 10px;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  width: 100%;
  background-color: #1A1A1A;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header__right {
  display: flex;
  align-items: center;
}
