@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.login {
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 100px 0;
  outline: none;
}

.loginName{
  margin-bottom: 20px;
  font-size: 50px;
  color: white;
}

.login > form {
  display: flex;
  flex-direction: column;
  border:none;
  outline-width: 0;
}

.login > form > .loginbutton{
  border-radius: 7px;
  border:none;
  cursor: pointer;
  outline-width: 0;
  font-weight: 800;
  font-family: Rubik;
}

.login > form > .loginbutton:hover{
  background-color: #ddae9c;
  color: black;
  transition: 0.7s;
}

.login > form > input {
  width: 350px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  font-family: Rubik;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 7px;
  border:none;
  outline-width: 0;
}

.login > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: #000000;
  border-radius: 7px;
}

.login__register {
  color: #ffffff;
  cursor: pointer;
}

.login__register:hover{
  color: #ddae9c;
  transition: 0.7s;
}

.login > p {
  margin-top: 20px;
}
